* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}
.crud {
    padding-top: 40px;
    width: 60%;
    margin: auto;
}
.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus {
    background: #000;
    transform: scale(1.1);
}
.price input {
    width: 20%;
}
#total {
    background: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before {
    content: "TOTAL";
}
button {
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #470053;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover {
    background: #6e5174;
    letter-spacing: 2px;
}
.btnSearch {
    display: flex;
    justify-content: space-between;
}
table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th {
    text-transform: uppercase;
}
th, td {
    padding: 5px;
}
/* تأثير الماوس */
table tbody tr {
    transition: background-color 0.3s;
}

table tbody tr:hover {
    background-color: #4a4a4a; /* لون الخلفية عند التحويم */
    cursor: pointer; /* تغيير المؤشر عند التحويم */
}

.selected {
    background-color: #6e5174; /* لون الخلفية للأصناف المختارة */
}

/* بقية الأكواد تبقى كما هي */
 h2{
    list-style: none;
    color: #724db3;
    list-style: none; /* إزالة الخط تحت الرابط */

}
h2:hover{
    color: aqua;
    font-size:x-large;
}
a{
    list-style: none; /* إزالة الخط تحت الرابط */
    text-decoration: none; /* إزالة الخط تحت الرابط */

}
.page{
    display: flex;
    justify-content: right;
}
.fflex{
    display:flex;
    margin-right: 10px;
    justify-content: center;
    background-color: #d65c5c;
    padding: 10px;
}
#invoiceSummary{
    display: flex;
    margin-right: 10px;
}
p{
    margin-right: 20px;
}
.fflex h3{
    margin-right: 20px;
}