


h1{

    color:brown;
    background-color: aliceblue;
    margin-top: 50px;
    height: 100px;
    padding-top: 40px;
}

img{

margin-left: 35%;

}

button{

    margin-left: 46%;
    color: blue;
}

p{

    color:brown;
}

body{

    background-color: rgb(218, 196, 196);
}